.claude/
.codex
pretrained_models/
repos/*/docs/

occ_grasp_models/data/
occ_grasp_models/exp_logs/
occ_grasp_models/eval_logs/
occ_grasp_models/eval_videos/
occ_grasp_models/eval_weights/

**/__pycache__/
*.py[cod]
.ipynb_checkpoints/
*.egg-info/

build/
dist/
